body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  align-items: center;
  align-content: center;
  
}

h1 {
  align-content: center;
  font-size: 2.2rem;
  color: #e2dbdb;
}

.btn {
  font-weight: 700;
  border-radius: 30px;
  text-transform: uppercase;

}

.buffer {
  height: 10rem;
}

hr {
  background-color:#FFA225 ;
  border-width: 0.5px;
  max-width: 90px;
}

.btn-primary {
  background-color: #FFA225;
  border-color: #FFA225;
}

.btn-primary:hover {
  background-color: #FF4900;
  border-color: #FFA225;
  border-width: 4px;
}

.btn-xl {
  padding: 0.8rem 1.5rem;
}